templateData:
  site:
    url: "http://360screenings.com"
    title: "360 Screenings"
    description: """
      360 Screenings provides a cinematic experience that audiences not only watch but also become a part of through live theatre installations.
      """

    # The website keywords (for SEO) separated by commas
    keywords: """
      Toronto, 30 Screenings, film, theatre
      """

    # The website's styles
    styles: [
      '/vendor/build.min.css'
    ]

    # The website's scripts
    scripts: [
      '/vendor/build.min.js'
    ]

    meta: ''

plugins:
  grunt:
    populateCollectionsBefore: []
    writeAfter: false

environments:
  development:
    templateData:
      site:
        scripts: [
          "/vendor/jquery/jquery.js"
          "/vendor/bootstrap/dist/js/bootstrap.js"
          "/vendor/vegas/dist/jquery.vegas.js"
          "/app.js"
        ]
        styles: [
          "/vendor/bootswatch/cyborg/bootstrap.css"
          "/vendor/font-awesome/css/font-awesome.css"
          "/vendor/vegas/dist/jquery.vegas.css"
          "/app.css"
        ]
