templateData:
  site:
    url: "http://360screenings.com"
    title: "360 Screenings"
    description: """
      360 Screenings provides a cinematic experience that audiences not only watch but also become a part of through live theatre installations.
      """

    # The website keywords (for SEO) separated by commas
    keywords: """
      Toronto, 30 Screenings, film, theatre
      """

    # The website's styles
    styles: [
      '/app.css'
    ]

    # The website's scripts
    scripts: [
      '/app.js'
    ]

    meta: ''

    services:
      googleAnalytics: 'UA-347108-6'

collections:
  # Event listing, ordered by reverse basename (date).
  events: (database) ->
    database.findAllLive({layout: "event"}, [basename: -1])

plugins:
  grunt:
    populateCollectionsBefore: ["static"]
    writeAfter: false
  thumbnails:
    imageMagick: true
    'default': 'zoomcrop'
  cleanurls:
    enabled: true
  redirector:
      redirects:
          "October2013": "/exorcist"
  cleancss:
    cleancssOpts:
      # * for keeping all (default), 1 for keeping first one only, 0 for
      # removing all
      keepSpecialComments: '*'

      # Whether to keep line breaks (default is false).
      keepBreaks: false

      # Turns on benchmarking mode measuring time spent on cleaning up.
      benchmark: false

      # Whether to process @import rules.
      processImport: true

      # Whether to skip URLs rebasing.
      noRebase: false

      # set to true to disable advanced optimizations.
      noAdvanced: false

environments:
  development:
    plugins:
      cleanurls:
        enabled: true
      cleancss:
        enabled: true
      grunt:
        populateCollectionsBefore: false
        writeAfter: false
      thumbnails:
        imageMagick: true
        'default': 'zoomcrop'
