---
layout: event
title: 28 Days Later
location: Berkeley Church
quote: <em>"Lesson one; you never go anywhere alone, unless you've got no choice."</em> - <strong>28 Days Later</strong>
url: "2012-10"
thumbnail: "/associated-files/2012-10/8134654576_10c229d5c2_z.jpg"
---

:markdown
  **360 Screenings** presented *28 DAYS LATER* on October 24th, 2012, to a sold-out
  audience. It was our largest and most ambitious event to date, with audiences
  purchasing tickets from across Canada, and we were able to donate over 200
  food items to the [Daily Bread Food Bank](http://www.flickr.com/photos/360screenings/8134672696/in/set-72157631879759870).
  View the [picture gallery](http://www.flickr.com/photos/360screenings/sets/72157631879759870/).

iframe(width="100%", height="315", src="http://www.youtube.com/embed/PhOvkk6eChI?rel=0&wmode=transparent", frameborder="0", allowfullscreen="allowfullscreen", wmode="Opaque")

:markdown
  There are the infected. There are survivors. And then there's you.

  Humanity has been compromised and those lucky enough to have secured a ticket
  to our Halloween Edition were granted access to The Berkeley Church - the
  safehouse - at 7:00pm. There, Travelers, dressed in army fatigues, were
  greeted by a priest.

  Beyond him, civilization was in a state of rebirth. Danny Boyle's 28 DAYS
  LATER was fully realized...

  Once inside The Berkeley Church, Travelers were shown around by Major Henry
  West, leader of the safehouse. Private Jones, the cook, prepared dinner (using
  spoiled eggs), while Sergeant Farrell tried to convince all from his prison
  cell that there's no point in trying. "There's no infection, just people
  killing people!"

  The threat of the infected was always just around the corner - outside in the
  garden, an infected chained to the wall lunged at Travelers through a series
  of bloody sheets while another infected grabbed from a closed cupboard.

  Deeper in the safehouse revealed more of the story. Jim has awoken from a coma
  on a hospital gurney, terribly confused and afraid. Selena, having been on the
  run for the past 4 weeks, has just found an ally in our main character Jim, while Hannah, who'd been forced to take Valium, desperately searched for her mother. Upstairs, Frank greeted guests to his cramped apartment, offering comfort in a cup of Crème de Menthe. Sadly, Jim's parents have decided to end their life before they too become an infected.

  An activist lobbied for support against the abuse of chimps, while a scientist
  tried everything in her power to prevent the activist from setting the chimps
  free.

  What the activist didn't know was that the chimps were infected with RAGE. But
  it was already too late.
