---
layout: event
title: Ghost
location: <a href="http://www.theburroughes.com/">The Burroughes</a>
quote: <em>"He's stuck, that's what it is. He's in between worlds. You know it happens sometimes that the spirit gets yanked out so fast that the essence still feels it has work to do here."</em> - <strong>Oda Mae Brown</strong>
url: "/ghost"
thumbnail: "/associated-files/2012-05/ghost.jpg"
---

:markdown
  *360 Screenings* presented **GHOST** on *May 25th, 2012*, to those Travelers
  intrepid enough to embark on our first of many exciting journeys to come.

  View the [picture gallery](http://www.flickr.com/photos/360screenings/7302062502/in/set-72157629968504338).

iframe(height="315", src="http://www.youtube.com/embed/afhLRtgIYd4?rel=0&wmode=transparent", allowfullscreen="allowfullscreen", wmode="Opaque", title="Video")

:markdown
  Guests were directed to wait out front of [The Burroughes](http://www.theburroughes.com/)
  where they were given masks - to be worn immediately for their own protection
  as the space was an active construction zone. Upon entering the elevator to
  the 6th floor, they soon realized they were riding with highly contagious
  carriers of some kind of an illness which caused a terrible rash. We sincerely
  hope that nobody contracted anything.

  From here, the world of GHOST was fully realized...

  Sam and Molly's first home together, still under construction. Their kitchen,
  where the belongings were carelessly strewn across the table and the coffee
  was still warm. The living room, where Molly pottered her vases deep into the
  night. The crime scene, where Sam was tragically murdered and his spirit parted
  his body. The psychic house, where Oda Mae Brown contacted the dearly departed.

  Guests were approached by numerous characters, including the Emergency Room
  Ghost who was anxiously awaiting his wife in Room 4C, the Subway Ghost who
  refused to let anyone enter his train, the Graveyard Ghost who was unable to
  speak, the nuns collecting your lucky penny, and of course Molly, who was
  creating one last vase until tragedy struck. The veil was then torn down to
  reveal GHOST.
