---
layout: event
title: Fight Club
location: <a href="http://www.fermentingcellar.ca">Fermenting Cellar</a>, Distillery District
quote: <em>"It's only after we've lost everything that we're free to do anything."</em> - <strong>Tyler Durden</strong>
url: "/fightclub"
thumbnail: "/associated-files/2012-08/Fight Club.jpg"
---

:markdown
  *360 Screenings* presented **FIGHT CLUB** on *August 15th, 2012*.

  Recruits - congratulations on the completion of Project Mayhem. You are now
  well on your way to truly taking control of your life.

  View the [image gallery](http://www.flickr.com/photos/360screenings/sets/72157631176875372/).

iframe(height="315", src="http://www.youtube.com/embed/Jnouj3bMV1w?rel=0&wmode=transparent", allowfullscreen="allowfullscreen", wmode="Opaque", title="Video")

:markdown
  Recruits - dressed in black - were instructed to position themselves promptly
  at 7:00pm in front of the Fermenting Cellar in the Historic Distillery
  District. Outside, a woman, indifferent with her actions, smoked heavily. A
  penguin made its way through the crowd taking pictures with everyone, whispering
  "slide," and a man, dressed in all black, stood stoically at the door while
  Tyler berated him with insults. Finally, he was granted access through the
  doors, and so too were guests.

  Inside, FIGHT CLUB was fully realized...

  Upon entering, three men were brutally fighting each other, finding solace in
  the pain, while a flight attendant coached on what to do in an emergency
  situation.

  In order to fully blend in with the Project, makeup artists were on-hand giving
  everyone bruises and scars, and by the end of the evening, Project Mayhem had
  doubled in size. The Partners in Positivity meeting welcomed new members
  willing to share their story, and a soap maker gave lessons on how to properly
  make soap. We made our special lobster bisque recipe which was more than
  enjoyed, and a foley area was set up for those keen enough to try their hand
  at providing the sound effects for the fighters.

  But it wasn't until a member of Project Mayhem was shot that everyone was
  brought together in solidarity.

blockquote
  p "In death, a member of Project Mayhem has a name.
  p His name is Robert Paulson. His name is Robert Paulson.
  p His name is Robert Paulson..."
