---
layout: event
title: The Exorcist
location: <a href="http://www.heritagetrust.on.ca/Conservation/Buildings/Ontario-Heritage-Centre-(Toronto).aspx">Ontario Heritage Centre</a>
quote: <em>"What an excellent day for an exorcism."</em> - <strong>Regan/Demon</strong>
url: "2013-10"
thumbnail: "/associated-files/2013-10/Regan2.jpg"
---

:markdown
  The ultimate battle between good and evil occurred this past Halloween. On
  **October 25th & 26th, 2013**, *360 Screenings* presented **THE EXORCIST** to
  over 500 people.

iframe(width="100%", height="315", src="http://www.youtube.com/embed/GQx8xKR4I-s?rel=0&wmode=transparent", frameborder="0", allowfullscreen="allowfullscreen", wmode="Opaque")

:markdown
  Upon entering the Ontario Heritage Centre, where rumours were spreading that
  an exorcism was to be performed, guests were told to write a confession to
  cleanse themselves of their impurities. The results were both amusing and
  shocking, as a few confessions revealed votes for Rob Ford.

  The atmosphere quickly fell deeper and deeper into the unknown as *Regan
  MacNeil*, who had been a charming and kind girl at the start of the night,
  became the embodiment of evil. There was nothing left to do but perform an
  exorcism.

  It was then time to dive into the film that's widely regarded as the scariest
  movie of all time.
