---
layout: event
title: Amélie
location: <a href="http://torontoartscape.org/artscape-wychwood-barns">Artscape Wychwood Barns</a>
quote: <em>"It's better to help people than garden gnomes."</em> - <strong>Amélie</strong>
url: "/2013-02.html"
thumbnail: "/associated-files/2013-02/Amelie.jpg"
---

:markdown
  *360 Screenings* presented **AMELIE** on *February 14th, 2013*, to another
  sold-out audience! Lovers and romantics gathered at the beautiful historic
  [Artscape Wychwood Barns](http://www.torontoartscape.org/artscape-wychwood-barns)
  where they began their journey across the Atlantic Ocean to fall in love.

  View the [picture gallery](http://www.flickr.com/photos/360screenings/sets/72157632800620746/).


iframe(height="315", src="http://www.youtube.com/embed/D-LHGYeg-yc?rel=0&wmode=transparent", allowfullscreen="allowfullscreen", wmode="Opaque")

:markdown
  THE QUESTION WAS ASKED:

  **What would you do with 2 hours in Paris?**

  The night began with a brief French lesson and a test on finishing proverbs.
  Beyond there, love was in the air. Jean-Pierre Jeunet's iconic AMELIE came to
  life...

  A full Parisian market was busy with life and colour. Monforte Dairy and
  Kawartha CSA, local purveyors of gastronomical delicacies, set up booths where
  guests filled their bags with delectable treats. Waitresses from Café des 2
  Moulins, the cafe where Amelie works, made their rounds, chatting with guests
  about the locals.

  Tables were set up where guests could finish gluing together the album of
  photobooth shots, piece together a love note using magazine clippings, look
  through a tin box filled with childhood memorabilia, and try their hand at
  popping row after row of bubble wrap. Observing from his apartment above was
  The Glass Man, tirelessly painting Renoir's "Luncheon of the Boating Party,"
  unable to capture the look of the girl drinking the glass of water. Below, a
  an sat watching a soccer match. The word "revenge" was written on the back of
  is chair, so guests obliged by pulling a cord from the cable box beside him
  resulting in static, which sent him into a fit of rage.

  After searching across Paris, **Amelie finally found Nino**.
