---
layout: event
title: "Romeo + Juliet"
location: "Location: St. Lawrence Hall"
url: "/RomeoJuliet"
thumbnail: "/associated-files/2014-02/360Love-22.jpg"
---

:markdown
  [360 Screenings](http://360screenings.com) presents: **LOVE**, a celebration of what it means to love, and be loved in return.

  View the [picture gallery](http://www.flickr.com/photos/360screenings/sets/72157640927807033/).

.well
  :markdown
    Stay tuned for a breakdown of Romeo and Juliet, and recap video.

  **CAN YOU KEEP THE SECRET?**