---
layout: event
title: 360 Valentine's 2014
location: TBA
url: "/valentinesday2014.html"
thumbnail: "/associated-files/2014-02/heart.jpg"
---

:markdown
  **360 Screenings** presented **ONE FLEW OVER THE CUCKOO'S NEST** on *May 31st &
  June 1st, 2013* to a record breaking crowd! Over 500 'patients' filled the
  rooms and hallways of the historic Christie Mansion, taking part in the
  various entrance examinations.
