---
layout: event
title: *Upcoming Event* 360 LOVE 
location: TBA
url: "/2014-02"
thumbnail: "/associated-files/2014-02/360ScreeningsLOVE.jpg"
---

:markdown
  360 Screenings presents: LOVE, a celebration of what it means to love, and be loved in return.
  
  Tickets go on sale Thursday, January 16th at 10:00 AM for the 360 Screenings Valentine's event.

  Join us on...
  Friday, February 7 at 7:00pm
  Saturday, February 8 at 2:00pm OR 7:00pm
  (Each screening will offer the same interactive experience)

  CAN YOU KEEP THE SECRET?
