---
layout: event
title: "Romeo + Juliet"
location: "Location: St. Lawrence Hall"
quote: <em>"For never was a story of more woe than this of Juliet and her Romeo."</em> - <strong>William Shakespeare</strong>
url: "/RomeoJuliet"
thumbnail: "/associated-files/2014-02/360Love-22.jpg"
---

:markdown
  Love was certainly in the air at the **360 Screenings** presentation of **ROMEO + JULIET** on *February 5th and 6th, 2014*. A celebratory ball set the stage for our lovers, friends, and those with a fever for romance to mingle and mix with each other at the beautiful, historic St. Lawrence Hall. 

  View the [picture gallery](http://www.flickr.com/photos/360screenings/sets/72157640927807033/).
  iframe(height="315", src="http://www.youtube.com/embed/hEVoZLCCosM?rel=0&wmode=transparent", allowfullscreen="allowfullscreen", wmode="Opaque", title="Video")

:markdown


Young lovers greeted and questioned guests about their true love as they climbed the stairs to the third floor where they were fully immersed in the masked ball. Those from the house of Montague and house of Capulet were at last under the same roof, and nothing made that more evident than the introduction of Romeo to Juliet.

Guests were encouraged to sit with Friar Laurence and write a note to the person they love or what they would like for their lover to say to them. These notes were then handed back to the Friar who gave them to other guests -strangers- to give to their intended recipients.

Connections were made, and even those of marriage proposals.

We would like to thank everyone for making this Valentine's season so special!



.well
  :markdown

  **CAN YOU KEEP THE SECRET?**
