---
layout: event
title: "Upcoming Event: LOVE"
location: "Location: St. Lawrence Hall"
url: "/2014-02"
thumbnail: "/associated-files/2014-02/love.jpg"
---

:markdown
  [360 Screenings](http://360screenings.com) presents: **LOVE**, a celebration of what it means to love, and be loved in return.

  Tickets now on sale for the 360 LOVE!

.well
  :markdown
    Join us on...

    * Friday, **February 7** at 7:00pm **SOLD OUT**
    * Saturday, **February 8** at 2:00pm OR 7:00pm **LIMITED AVAILABILITY**

:markdown
  (Each screening will offer the same interactive experience)

  **CAN YOU KEEP THE SECRET?**

a.unii-listing-button.unii-medium.unii-pink(href="https://www.uniiverse.com/listings/360-screenings-love-toronto-B6WFR", target="_blank") Book it!
