!= include('vendor/jquery/jquery.js')
!= include('vendor/bootstrap/dist/js/bootstrap.js')
!= include('vendor/bootstrap/dist/js/bootstrap.min.js')
!= include('vendor/blueimp-gallery/js/blueimp-gallery.js')
!= include('vendor/blueimp-gallery/js/jquery.blueimp-gallery.js')
!= include('vendor/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.js')
!= include('vendor/vegas/dist/jquery.vegas.js')
!= include('app.js')
