---
layout: default
title: Contact
url: "/contact"
---

article
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1 Contact
  .container
    .row
      .col-sm-4
        h3 Social Media
        ul
          li
            i.glyphicon.glyphicon-envelope
              a(href="info@360screenings.com") info@360screenings.com
          li
            i
              a(src="http://twitter.com/360screenings") @360Screenings
          li
            i
              a(href="http://facebook.com/360screenings") Facebook/360Screenings

      .col-sm-4
        :markdown
          ### Ned Loach
          Artistic Producer / Co-Founder
          ned@360screenings.com

      .col-sm-4
        :markdown
          ### Robert Gontier
          Artistic Director / Co-Founder
          robert@360screenings.com

    .row
      .col-sm-4
        :markdown
          ### Andy Miller
          Design Lead
          [andymiller.ca](http://andymiller.ca)

      .col-sm-4
        :markdown
          ### Clutch PR
          Press Lead, Daniela Syrovy
          [clutchpr.com](http://clutchpr.com)

      .col-sm-4
        :markdown
          ### Rob Loach
          Web Lead
          [robloach.net](http://robloach.net)

    .row
      .col-md-6
        :markdown
          ### Actors
          Interested in acting at our upcoming screenings? Send your resume and headshot to info@360screenings.com

      .col-md-6
        :markdown
          ### Volunteers
          Interested in volunteering at our upcoming screenings? Fill out the [volunteering form here](http://360screenings.wufoo.com/forms/z7x3p9/)!
