---
layout: default
---
section
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1 Step into the Film

      .row
        .col-md-8
          :markdown
            **[360 Screenings](http://360screenings.com)** provides a cinematic
            experience that audiences not only watch but also become a part of
            through live theatre installations. Every event features an interactive
            live performance followed by a film screening. The location of the venue,
            a *Toronto* heritage or unique building, is kept secret until 24 hours
            prior to the screening, and the film itself isn’t revealed until the
            second half of the evening. A hybrid between live theatre and cinema, the
            audience is encouraged to explore, uncover and interact with the actors
            and set design.

            We have **SOLD OUT** our Halloween screenings! [Register here](/register)
            to be the first to know about our upcoming immersive cinema screenings.

        .col-md-4
          iframe(height="280", src="//www.youtube.com/embed/s8AGONJCyvE?rel=0&theme=dark&height=280&modestbranding=1", allowfullscreen)

  .container
    .row
      ul.eventlisting
        each event in getCollection("events").toJSON()
          li.col-sm-4
            a(href="#{event.url}").thumbnail
              img(src!=getThumbnail(event.thumbnail, "zoomcrop", {w: 400, h: 300}), alt="#{event.title}", title="#{event.title}", width="400", height="300")
              .caption
                h2= event.title
