---
layout: default
---
section.index
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1 Step into the Film

      .row
        .col-md-8
          :markdown
            **[360 Screenings](http://360screenings.com)** provides a cinematic
            experience that audiences not only watch but also become a part of
            through live theatre installations. Every event features an interactive
            live performance followed by a film screening. The location of the venue,
            a *Toronto* heritage or unique building, is kept secret until 24 hours
            prior to the screening, and the film itself isn’t revealed until the
            second half of the evening. A hybrid between live theatre and cinema, the
            audience is encouraged to explore, uncover and interact with the actors
            and set design.

            Tickets now on sale for 360 Screenings: **[LOVE](/2014-02)**. February 7 and 8, 2014.

          a.unii-listing-button.unii-medium.unii-pink(href="https://www.uniiverse.com/listings/360-screenings-love-toronto-B6WFR") Book it!

        .col-md-4
          iframe(height="280", src="//www.youtube.com/embed/s8AGONJCyvE?rel=0&theme=dark&height=280&modestbranding=1", allowfullscreen, title="360 Screenings Recap")

          form.validate.form-inline#mc-embedded-subscribe-form(action="http://360screenings.us5.list-manage2.com/subscribe/post?u=ebc87bb944ba1f4df138fa027&amp;id=144e89fef7", method="post", name="mc-embedded-subscribe-form", _lpchecked="1", role="form")
            .form-group
              label(for="email") Register through email
              input.input-sm.form-control#mce-EMAIL.email(type="email", name="EMAIL", placeholder="Register email address", required="", it="email")
            button#mc-embedded-subscribe.btn.btn-primary.btn-sm(type="submit", value="Subscribe", name="subscribe") Subscribe

  .container
    .row
      ul.eventlisting
        each event in getCollection("events").toJSON()
          li.col-sm-6.col-md-4
            a(href="#{event.url}").thumbnail
              img(src!=getThumbnail(event.thumbnail, "zoomcrop", {w: 400, h: 300}), alt="#{event.title}", title="#{event.title}", width="400px", height="300px")
              .caption
                h2= event.title
