---
layout: default
---
.jumbotron
  .container
    :markdown
      ## Hello There
      *[Rob Loach](http://robloach.net)* is a Web Developer at [Myplanet Digital](http://myplanetdigital.com) in Toronto.
    p
      a.btn.btn-primary.btn-lg(data-toggle="tooltip",href="#") Learn more

h1 Erin is cool!
