---
layout: event
title: One Flew Over the Cuckoo's Nest
location: Christie Mansion
quote: <em>"I must be crazy to be in a loony bin like this."</em> - <strong>McMurphy</strong>
url: "One Flew Over the Cuckoo's Nest.html"
thumbnail: "/associated-files/2013-05/The Cuckoos Nest.jpg"
---

:markdown
  **360 Screenings** presented **ONE FLEW OVER THE CUCKOO'S NEST** on *May 31st &
  June 1st, 2013* to a record breaking crowd! Over 500 'patients' filled the
  rooms and hallways of the historic Christie Mansion, taking part in the
  various entrance examinations.

  View the [picture gallery](http://www.flickr.com/photos/360screenings/sets/72157633937176178/).

iframe(height="315", src="http://www.youtube.com/embed/s8AGONJCyvE?rel=0&wmode=transparent", allowfullscreen="allowfullscreen", wmode="Opaque")

:markdown
  The night began with a brief interview with *Doctor Spivey* who analyzed the
  current state of each and every guest. Careful attention was paid, and should
  there have been cause for further investigation, it was brought up with *Nurse
  Ratched* in the group therapy wing.

  Once cleared, patients were given access to the facilities and were free to
  explore the state of the art electroshock therapy equipment. Spontaneous
  checkups were made to ensure all guests were properly medicated with the
  appropriate dosage, and calisthenics were offered to those looking to
  strengthen muscles, build endurance and improve mental clarity.

  Few patients challenged authority, but those that did managed to escape to
  Canada. There, they found peace of mind.

  To close the evening, all patients were given a box of either Oreos or Chips
  Ahoy! cookies as a parting gift, and as a way of honouring **Mr. Christie's**
  first home and historic significance to the city of Toronto.

  We would like to thank everyone for making this screening an insanely good
  time!
