---
layout: default
url: '/press'
---
.container.js-masonry(data-masonry-options='{ "itemSelector": "col-sm-4" }')
  h2 Press

  .row
    .col-sm-4
      :markdown
        ### The Globe and Mail
        * [A movie, live performance and a mystery](http://www.theglobeandmail.com/news/toronto/a-movie-live-performance-and-a-mystery/article8724800/)
        * [How live theatre re-enactments revitalize the movie-going experience](http://www.theglobeandmail.com/life/the-catalysts/how-live-theatre-re-enactments-revitalize-the-movie-going-experience/article10375202/)
        * [In pictures: A movie comes to life](http://www.theglobeandmail.com/news/toronto/in-pictures-a-movie-comes-to-life/article8729352/?cmpid=rss1)
        * [A new 'hybrid' way to experience film](http://www.theglobeandmail.com/arts/arts-video/video-a-new-hybrid-way-to-experience-film/article8468253/)
        * [360 Screenings are so much bigger than surround sound](http://www.theglobeandmail.com/news/national/toronto/globe-to/360-screenings-are-so-much-bigger-than-surround-sound/article2437254/)

    .col-sm-4
      :markdown
        ### The Toronto Star
        * [The secret is out on 360 Screenings](http://www.thestar.com/entertainment/movies/2013/05/24/the_secret_is_out_on_360_screenings.html)
        * [360 degrees of cinema: New immersive screening series aims for mystery](http://www.thestar.com/entertainment/2012/05/24/360_degrees_of_cinema_new_immersive_screening_series_aims_for_mystery.html)
        * [Projections: Hotter docs onscreen at Toronto’s Inside Out festival](http://www.thestar.com/entertainment/movies/2013/05/23/continental_one_of_many_fine_documentaries_at_torontos_inside_out.html)
        * [Projections: 8 Fest has some home movies that are worth seeing](http://www.thestar.com/entertainment/movies/2013/02/07/projections_8_fest_has_some_home_movies_that_are_worth_seeing.html)
        * [Projections: Halloween comes early at the movies](http://www.thestar.com/entertainment/movies/article/1273010--halloween-comes-early-at-the-movies-projections)

    .col-sm-4
      :markdown
        ### Metro News
        * [360 Screenings’ interactive theatre gives audiences the chance to really get into a movie](http://metronews.ca/news/544280/interactive-theatre-craze-gives-toronto-audiences-the-chance-to-really-get-into-a-movie/)
  .row
    .col-sm-4
      :markdown
        ### The National Post
        * [A passion for immersive cinema (and keeping secrets) inspired 360 Screenings’ site-specific shows](http://arts.nationalpost.com/2013/05/31/a-passion-for-immersive-cinema-and-keeping-secrets-inspired-360-screenings-site-specific-shows/)

    .col-sm-4
      :markdown
        ### Global TV
        * [The Morning Show Features Co-Founders Ned Loach &amp; Robert Gontier](http://globalnews.ca/video/591949/ned-loach-robert-gontier-360-screenings)
        * [360 Screenings Featured on Global News](http://youtu.be/_yDvPoVFBR0)

    .col-sm-4
      :markdown
        ### blogTO
        * [Top-secret 360 Screenings fuse film with theatre - FIGHT CLUB](http://www.blogto.com/film/2012/08/top-secret_360_screenings_fuse_film_with_theatre/)
  .row
    .col-sm-4
      :markdown
        ### The Grid
        * [The Hook-Up: Dustin and Jason](http://www.thegridto.com/timewasters/dating-diaries/the-hook-up-dustin-and-jason/)
        * [360 Screenings Halloween Edition](http://www.thegridto.com/life/society/the-night-list-oct-18%E2%80%9324/?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=the-night-list-oct-18%25e2%2580%259324)

    .col-sm-4
      :markdown
        ### Torontoist
        * [Lights, Camera … And Everything Else](http://torontoist.com/2012/05/lights-camera-and-everything-else/)

    .col-sm-4
      :markdown
        ###Pretty Clever Films
        * [360 Screenings Meld Cinema, Theater and Mystery](http://prettycleverfilms.com/essays/360-screenings-meld-cinema-theater-and-mystery/#.UaDH-78VzHh)

  .row
    .col-sm-4
      :markdown
        ### Mooney on Theatre
        * [Screening Review: 28 DAYS LATER](http://www.mooneyontheatre.com/2012/10/18/360-screenings-keeps-you-guessing/)

    .col-sm-4
      :markdown
        ###Film Army
        * [Screening Review: ONE FLEW OVER THE CUCKOO'S NEST](http://www.blog.filmarmy.ca/2013/06/film-army-goes-cuckoo-for-360-screenings-fifth-event/)
        * [Screening Review: AMELIE](http://www.blog.filmarmy.ca/2013/02/360-screenings-most-playful-outing-yet/)
        * [Screening Review: 28 DAYS LATER](http://www.blog.filmarmy.ca/2012/10/octobers-360-screening-an-infectious-treat/?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=octobers-360-screening-an-infectious-treat)
        * [Screening Review: FIGHT CLUB](http://www.blog.filmarmy.ca/2012/08/i-am-jacks-excited-and-surprised-grin-film-army-attends-360-screenings-fight-club/)
        * [Screening Review: GHOST](http://www.blog.filmarmy.ca/2012/05/addio-commentary-on-the-go-a-very-eerie-and-excellent-360-screening/)

    .col-sm-4
      :markdown
        ###I Heart Movies TO
        * [Event Review: AMELIE](http://www.iheartmoviesto.com/event-recap-360-screenings-valentines-edition-amelie/)
        * [Event Review: 28 DAYS LATER](http://www.iheartmoviesto.com/360-screenings-halloween-edition/)
        * [Interview the Brains Behind Toronto's Coolest Film Event - 360 Screenings](http://www.iheartmoviesto.com/interview-the-brains-behind-torontos-coolest-film-event-ned-loach-robert-gontier/)
        * [Event Review: FIGHT CLUB](http://www.iheartmoviesto.com/event-review-360-screenings/)

  .row
    .col-sm-4
      :markdown
        ###Cinefilles
        * [Event Review: ONE FLEW OVER THE CUCKOO'S NEST](http://cinefilles.wordpress.com/2013/06/02/360-screenings-one-flew-over-the-cuckoos-nest/)
        * [Event Review: AMELIE](http://cinefilles.wordpress.com/2013/02/21/360-screenings-emily-meets-amelie/)
        * [Event Review: 28 DAYS LATER](http://cinefilles.wordpress.com/2012/10/28/the-night-i-lived-28-days-later/)

    .col-sm-4
      :markdown
        ###T-MAK World
        * [Interactive Film Review - One Flew Over the Cuckoo's Nest](http://tmakworld.com/2013/06/360-screenings-may-2013-review-one-flew-over-the-cuckoos-nest.html)
        * [Interactive Film Review - Amelie](http://www.tmakworld.com/2013/02/360-screenings-review-february-2013.html)
        * [Interactive Film Review - 28 Days Later](http://www.tmakworld.com/2012/10/360-screenings-interactive-film-review.html)
        * [Interactive Film Review - Fight Club](http://www.tmakworld.com/2012/08/360-screenings-interactive-film-review.html)

    .col-sm-4
      :markdown
        ###Dork Shelf
        * [The Minds Behind 360 Screenings](http://dorkshelf.com/2012/10/22/the-minds-behind-360-screenings/)

  .row
    .col-sm-4
      :markdown
        ###Newstalk 1010
        * [360 Screenings interviewed on Newstalk 1010](http://www.360screenings.com/sites/360screenings.com/files/newstalk.mp3)

    .col-sm-4
      :markdown
        ###Mamo, Matt Price &amp; Matt Brown
        * [Mamo #244: Event Cinema Podcast](http://www.rowthree.com/2012/03/14/mamo-244-event-cinema/)

    .col-sm-4
      :markdown
        ###Toronto Standard
        * [Entering the Picture](http://torontostandard.com/culture/entering-the-picture/)
