---
layout: default
title: Press
---

article.press
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1 Press
  .container
    .row
      .col-sm-4
        h2#theglobeandmail The Globe and Mail
        ul
          li
            a(href='http://www.theglobeandmail.com/news/toronto/a-movie-live-performance-and-a-mystery/article8724800/', target="_blank")
              | A movie, live performance and a mystery
          li
            a(href='http://www.theglobeandmail.com/life/the-catalysts/how-live-theatre-re-enactments-revitalize-the-movie-going-experience/article10375202/', target="_blank")
              | How live theatre re-enactments revitalize the movie-going experience
          li
            a(href='http://www.theglobeandmail.com/news/toronto/in-pictures-a-movie-comes-to-life/article8729352/?cmpid=rss1', target="_blank")
              | In pictures: A movie comes to life
          li
            a(href='http://www.theglobeandmail.com/arts/arts-video/video-a-new-hybrid-way-to-experience-film/article8468253/', target="_blank")
              | A new 'hybrid' way to experience film
          li
            a(href='http://www.theglobeandmail.com/news/national/toronto/globe-to/360-screenings-are-so-much-bigger-than-surround-sound/article2437254/', target="_blank")
              | 360 Screenings are so much bigger than surround sound


      .col-sm-4
        h2#thetorontostar The Toronto Star
        ul
          li
            a(href='http://www.thestar.com/entertainment/movies/2013/05/24/the_secret_is_out_on_360_screenings.html', target="_blank")
              | The secret is out on 360 Screenings
          li
            a(href='http://www.thestar.com/entertainment/2012/05/24/360_degrees_of_cinema_new_immersive_screening_series_aims_for_mystery.html', target="_blank")
              | 360 degrees of cinema: New immersive screening series aims for mystery
          li
            a(href='http://www.thestar.com/entertainment/movies/2013/05/23/continental_one_of_many_fine_documentaries_at_torontos_inside_out.html', target="_blank")
              | Projections: Hotter docs onscreen at Toronto’s Inside Out festival
          li
            a(href='http://www.thestar.com/entertainment/movies/2013/02/07/projections_8_fest_has_some_home_movies_that_are_worth_seeing.html', target="_blank")
              | Projections: 8 Fest has some home movies that are worth seeing
          li
            a(href='http://www.thestar.com/entertainment/movies/article/1273010--halloween-comes-early-at-the-movies-projections', target="_blank")
              | Projections: Halloween comes early at the movies


      .col-sm-4
        h2#metronews Metro News
        ul
          li
            a(href='http://metronews.ca/news/544280/interactive-theatre-craze-gives-toronto-audiences-the-chance-to-really-get-into-a-movie/', target="_blank")
              | 360 Screenings’ interactive theatre gives audiences the chance to really get into a movie

    .row
      .col-sm-4
        h2#thenationalpost The National Post
        ul
          li
            a(href='http://arts.nationalpost.com/2013/05/31/a-passion-for-immersive-cinema-and-keeping-secrets-inspired-360-screenings-site-specific-shows/', target="_blank")
              | A passion for immersive cinema (and keeping secrets) inspired 360 Screenings’ site-specific shows

      .col-sm-4
        h2#globaltv Global TV
        ul
          li
            a(href='http://globalnews.ca/video/591949/ned-loach-robert-gontier-360-screenings', target="_blank")
              | The Morning Show Features Co-Founders Ned Loach & Robert Gontier
          li
            a(href='http://youtu.be/_yDvPoVFBR0', target="_blank")
              | 360 Screenings Featured on Global News

      .col-sm-4
        h2#blogto blogTO
        ul
          li
            a(href='http://www.blogto.com/film/2012/08/top-secret_360_screenings_fuse_film_with_theatre/', target="_blank")
              | Top-secret 360 Screenings fuse film with theatre - FIGHT CLUB

    .row
      .col-sm-4
        h2#thegrid The Grid
        ul
          li
            a(href='http://www.thegridto.com/timewasters/dating-diaries/the-hook-up-dustin-and-jason/', target="_blank")
              | The Hook-Up: Dustin and Jason
          li
            a(href='http://www.thegridto.com/life/society/the-night-list-oct-18%E2%80%9324/?utm_source=rss&utm_medium=rss&utm_campaign=the-night-list-oct-18%25e2%2580%259324', target="_blank")
              | 360 Screenings Halloween Edition

      .col-sm-4
        h2#torontoist Torontoist
        ul
          li
            a(href='http://torontoist.com/2012/05/lights-camera-and-everything-else/', target="_blank")
              | Lights, Camera … And Everything Else


      .col-sm-4
        h2#prettycleverfilms Pretty Clever Films
        ul
          li
            a(href='http://prettycleverfilms.com/essays/360-screenings-meld-cinema-theater-and-mystery/#.UaDH-78VzHh', target="_blank")
              | 360 Screenings Meld Cinema, Theater and Mystery

    .row
      .col-sm-4
        h2#mooneyontheatre Mooney on Theatre
        ul
          li
            a(href='http://www.mooneyontheatre.com/2012/10/18/360-screenings-keeps-you-guessing/', target="_blank")
              | Screening Review: 28 DAYS LATER

      .col-sm-4
        h2#filmarmy Film Army
        ul
          li
            a(href='http://www.blog.filmarmy.ca/2013/06/film-army-goes-cuckoo-for-360-screenings-fifth-event/', target="_blank")
              | Screening Review: ONE FLEW OVER THE CUCKOO'S NEST
          li
            a(href='http://www.blog.filmarmy.ca/2013/02/360-screenings-most-playful-outing-yet/', target="_blank")
              | Screening Review: AMELIE
          li
            a(href='http://www.blog.filmarmy.ca/2012/10/octobers-360-screening-an-infectious-treat/?utm_source=rss&utm_medium=rss&utm_campaign=octobers-360-screening-an-infectious-treat', target="_blank")
              | Screening Review: 28 DAYS LATER
          li
            a(href='http://www.blog.filmarmy.ca/2012/08/i-am-jacks-excited-and-surprised-grin-film-army-attends-360-screenings-fight-club/', target="_blank")
              | Screening Review: FIGHT CLUB
          li
            a(href='http://www.blog.filmarmy.ca/2012/05/addio-commentary-on-the-go-a-very-eerie-and-excellent-360-screening/', target="_blank")
              | Screening Review: GHOST


      .col-sm-4
        h2#iheartmoviesto I Heart Movies TO
        ul
          li
            a(href='http://www.iheartmoviesto.com/event-recap-360-screenings-valentines-edition-amelie/', target="_blank")
              | Event Review: AMELIE
          li
            a(href='http://www.iheartmoviesto.com/360-screenings-halloween-edition/', target="_blank")
              | Event Review: 28 DAYS LATER
          li
            a(href='http://www.iheartmoviesto.com/interview-the-brains-behind-torontos-coolest-film-event-ned-loach-robert-gontier/', target="_blank")
              | Interview the Brains Behind Toronto's Coolest Film Event - 360 Screenings
          li
            a(href='http://www.iheartmoviesto.com/event-review-360-screenings/', target="_blank")
              | Event Review: FIGHT CLUB

    .row
      .col-sm-4
        h2#cinefilles Cinefilles
        ul
          li
            a(href='http://cinefilles.wordpress.com/2013/06/02/360-screenings-one-flew-over-the-cuckoos-nest/', target="_blank")
              | Event Review: ONE FLEW OVER THE CUCKOO'S NEST
          li
            a(href='http://cinefilles.wordpress.com/2013/02/21/360-screenings-emily-meets-amelie/', target="_blank")
              | Event Review: AMELIE
          li
            a(href='http://cinefilles.wordpress.com/2012/10/28/the-night-i-lived-28-days-later/', target="_blank")
              | Event Review: 28 DAYS LATER

      .col-sm-4
        h2#tmakworld T-MAK World
        ul
          li
            a(href='http://tmakworld.com/2013/06/360-screenings-may-2013-review-one-flew-over-the-cuckoos-nest.html', target="_blank")
              | Interactive Film Review - One Flew Over the Cuckoo's Nest
          li
            a(href='http://www.tmakworld.com/2013/02/360-screenings-review-february-2013.html', target="_blank")
              | Interactive Film Review - Amelie
          li
            a(href='http://www.tmakworld.com/2012/10/360-screenings-interactive-film-review.html', target="_blank")
              | Interactive Film Review - 28 Days Later
          li
            a(href='http://www.tmakworld.com/2012/08/360-screenings-interactive-film-review.html', target="_blank")
              | Interactive Film Review - Fight Club

      .col-sm-4
        h2#dorkshelf Dork Shelf
        ul
          li
            a(href='http://dorkshelf.com/2012/10/22/the-minds-behind-360-screenings/', target="_blank")
              | The Minds Behind 360 Screenings

    .row
      .col-sm-4
        h2#newstalk1010 Newstalk 1010
        ul
          li
            a(href='http://www.360screenings.com/sites/360screenings.com/files/newstalk.mp3', target="_blank")
              | 360 Screenings interviewed on Newstalk 1010

      .col-sm-4
        h2#mamomattpriceampmattbrown Mamo, Matt Price & Matt Brown
        ul
          li
            a(href='http://www.rowthree.com/2012/03/14/mamo-244-event-cinema/', target="_blank")
              | Mamo #244: Event Cinema Podcast

      .col-sm-4
        h2#torontostandard Toronto Standard
        ul
          li
            a(href='http://torontostandard.com/culture/entering-the-picture/', target="_blank")
              | Entering the Picture
