---
layout: default
title: Register
---
article.register
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1 Register
  .container
    .row
      .col-sm-12
        form.validate.well.form-inline#mc-embedded-subscribe-form(action="http://360screenings.us5.list-manage2.com/subscribe/post?u=ebc87bb944ba1f4df138fa027&amp;id=144e89fef7", method="post", name="mc-embedded-subscribe-form", _lpchecked="1", role="form")
          p Be the first to know when our next 360 Screening will happen by providing your email address below:

          .form-group
            label(for="email") E-mail
            input.input-lg.form-control#mce-EMAIL.email(type="email", name="EMAIL", placeholder="Enter email", required="", it="email")

          button.btn.btn-lg#mc-embedded-subscribe.button.btn-success(type="submit", value="Subscribe", name="subscribe") Subscribe
