---
layout: event
title: 360 Valentine's 2014
location: TBA
url: "Valentine's 2014.html"
thumbnail: ""
---

:Markdown
  **360 Screenings** presented **ONE FLEW OVER THE CUCKOO'S NEST** on *May 31st &
  June 1st, 2013* to a record breaking crowd! Over 500 'patients' filled the
  rooms and hallways of the historic Christie Mansion, taking part in the
  various entrance examinations.  
