doctype html
head
  meta(charset="utf-8")
  if document.title
    title #{site.title} - #{document.title}
  else
    title= site.title
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="/favicon.ico", type="image/vnd.microsoft.icon")
  != getBlock('meta').add(site.meta).toHTML()
  != getBlock("styles").add(site.styles).toHTML()
body
  header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img.logo(src="/images/360logowhite.png", width="264", height="264")
          h1 #{site.title}
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/register") Register
          li
            a(href="/press") Press
          li
            a(href="/contact") Contact
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#")
              i.fa.fa-twitter
              span Twitter

          li
            a(href="#")
              i.fa.fa-facebook
              span Facebook

  != content

  footer.container
    .row
      .col-md-12
        :markdown
          Copyright &copy; 2013 [360 Screenings](http://360screenings.com)

  != getBlock('scripts').add(site.scripts).toHTML()
