doctype 5
head
  meta(charset="utf-8")
  title
    != getPreparedTitle()
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="favicon.ico", type="image/vnd.microsoft.icon")
  != getBlock('meta').add(site.meta).toHTML()
  != getBlock("styles").add(site.styles).toHTML()
body
  header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          h1 #{site.title}
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/register.html") Register
          li
            a(href="/press") Press
          li
            a(href="/contact.html") Contact
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Twitter
          li
            a(href="#") Facebook

  != content
  != getBlock('scripts').add(site.scripts, {defer:"defer", async:"async"}).toHTML()
